# This file tells Docker to ignore certain files/directories from the build context.

# Ignore the virtual environment created locally by Poetry.
# This is the most critical line to prevent overwriting the venv in the image.
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore test cache
.pytest_cache/

# Ignore local IDE settings
.vscode/
.idea/